.form{
    display: grid;
    grid-template-columns: repeat(2, 50%);

    background-color: rgb(243, 242, 242);
}

@media screen and (max-width: 799px) {
    .form{
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}