.header__menu-item {
  margin-right: 32px;
}

.header__menu-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 480px){
  .header__menu-item{
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__menu-item:last-of-type {
    margin-bottom: 0;
  }
}