.form__text-input {
    box-sizing: border-box;
    border-radius: 0%;
    border: 0;

    margin-bottom: 16px;
    padding: 12px 8px;

    font-family: inherit;

    transition: all 0.3s ease-in;
}

.form__text-input:hover {
    border-bottom: solid 1px black;
}

.form__text-input:focus {
    outline: none;

    border-bottom: solid 1px black;
}