.intro__text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding-right: 20px;
}

@media screen and (max-width: 767px){
    .intro__text-area{
        padding-right: 0;
        grid-row: 2/3;
    }
}

@media screen and (max-width: 413px){
    .intro__text-area{
        margin-bottom: 20px;
    }
}