.intro__text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding-right: 20px;
}

@media screen and (max-width: 413px){
    .intro__text-area{
        margin-bottom: 20px;
    }
}