.intro{
    padding-top: 74px;
    padding-bottom: 112px;
    padding-right: 78px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 309px;
}

@media screen and (max-width:1108px){
    .intro{
        padding-right: 0;
    }
}

@media screen and (max-width: 767px){
    .intro{
        grid-template-columns: 100%;
        row-gap: 40px;
        padding-bottom: 56px;
    }
}