.form__textarea {
    box-sizing: border-box;
    border-radius: 0%;
    border: 0;

    margin-bottom: 16px;
    padding: 12px 8px;

    height: 90px;

    font-family: inherit;
    resize: none;

    transition: all 0.3s ease-in;
}

.form__textarea:hover {
    border-bottom: solid 1px black;
}

.form__textarea:focus {
    outline: none;

    border-bottom: solid 1px black;
}