.quotes__subtitle{
    margin-top:0;
    margin-bottom: 106px;
    max-width: 348px;
    font-size: 27px;
}
@media screen and (max-width: 733px){
    .quotes__subtitle{
        margin-bottom: 50px;
    }
}