.quotes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 118px;
    padding-bottom: 104px;
}

@media screen and (max-width: 767px) {
    .quotes {
        padding-top: 64px;
        padding-bottom: 52px;
    }
}