.place__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-sizing: border-box;
  padding: 60px 152px 72px 60px;
  width: 50%;
}

@media screen and (max-width:767px) {
  .place__description {
    width: 100%;
    padding-left: 24px;
  }
}

@media screen and (max-width:543px) {
  .place__description {
    padding: 24px 72px 30px 30px;
  }
}